* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #262626;
  display: grid;
  place-items: center;
}

.card-wrapper {
  width: 50rem;
  height: 70rem;
  /* background-color: #ccc; */
  padding: 0 10rem;
  display: grid;
  place-items: center;
}

.card {
  width: 30rem;
  height: 55rem;
  background: #eee;
  border-radius: 2.5rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.7);
  position: relative;
}

.card-top {
  width: 100%;
  height: 50%;
  background: #f1ae04;
  padding: 3rem;
  border-radius: 2.5rem 2.5rem 0 0;
}

.card-top-text {
  color: #fff;
}

.card-top-text h1 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.logo {
  width: 8rem;
  margin-bottom: 2rem;
}

.shoe-1 {
  width: 30rem;
  position: absolute;
  top: -2.5rem;
  right: -10rem;
}

.card-bottom {
  width: 100%;
  height: 50%;
  padding: 2rem 3rem;
}

.card-bottom h1 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #333;
  margin-bottom: 0.6rem;
}

.badge {
  position: absolute;
  top: 30rem;
  right: 5rem;
  width: 3.5rem;
  height: 1.6rem;
  background: #25d390;
  color: #fff;
  display: grid;
  place-items: center;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.card-bottom h3 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
}

.stars {
  margin-bottom: 3rem;
}

.stars i:last-child {
  opacity: 0.4;
}

.size {
  margin-bottom: 3rem;
}

.size h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1.3rem;
}

.sizes span {
  font-size: 1.3rem;
  margin-right: 2.5rem;
}

.size span:nth-child(3) {
}
